.app-class {
  margin: 2rem;
}

.btn {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  &-success {
    background-color: mediumseagreen;
  }

  &-primary {
    background-color: lightskyblue;
  }
}